[submodule "AspSQLProvider"]
	path = AspSQLProvider
	url = git://github.com/dnauck/AspSQLProvider.git
[submodule "ninject"]
	path = ninject
	url = linode:Projects/ninject
[submodule "ninject.web.mvc"]
	path = ninject.web.mvc
	url = linode:Projects/ninject.web.mvc
[submodule "Ninject.Web.Common"]
	path = Ninject.Web.Common
	url = linode:Projects/ninject.web.common
[submodule "ninject.web"]
	path = ninject.web
	url = linode:Projects/ninject.web
[submodule "picgen"]
	path = picgen
	url = linode:Projects/picgen
