<?xml version="1.0"?>
<!--
Web.config file for MvcStore.Admin.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <connectionStrings>
    <clear />
    <add name="AspSQLProvider" connectionString="Server=localhost;Port=5432;Database=mvcstore;User Id=antonius;" />
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <!--<sessionState mode="InProc" cookieless="false" timeout="20" />-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages styleSheetTheme="DataWebControls">
      <controls>
        <add tagPrefix="mvc" tagName="MvcStoreMasterDetailsView" src="~/UserControls/MvcStoreMasterDetailsView.ascx" />
        <add tagPrefix="mvc" tagName="SectionLevelTutorialListing" src="~/UserControls/SectionLevelTutorialListing.ascx" />
      </controls>
    </pages>
    <machineKey validationKey="5F7659DD9020B2173D86B5D06BA88B41A57B37E3A6BC5A2F8F7150349175FCA373507E6A45F6C5106DE29CC77023BA176FF80DC4A81A29258DAD0EB5CA487861" decryptionKey="DA06437C8A530BCB75A6DBEDE70C1A8DA02696D1D9B54FA864DE052C5B5A3C79" validation="SHA1" decryption="AES" />
    <membership defaultProvider="PgMembershipProvider">
      <providers>
        <clear />
        <add name="PgMembershipProvider" type="NauckIT.PostgreSQLProvider.PgMembershipProvider" connectionStringName="AspSQLProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Hashed" applicationName="MvcStore" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="PgRoleProvider" cacheRolesInCookie="true" cookieName=".AspNetRoles" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieTimeout="30" maxCachedResults="25">
      <providers>
        <clear />
        <add name="PgRoleProvider" type="NauckIT.PostgreSQLProvider.PgRoleProvider" connectionStringName="AspSQLProvider" applicationName="MvcStore" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="PgProfileProvider">
      <providers>
        <clear />
        <add name="PgProfileProvider" type="NauckIT.PostgreSQLProvider.PgProfileProvider" connectionStringName="AspSQLProvider" applicationName="MvcStore" />
      </providers>
      <properties>
        <add name="FirstName" />
        <add name="LastName" />
      </properties>
    </profile>
    <sessionState mode="Custom" customProvider="PgSessionStateStoreProvider">
      <providers>
        <clear />
        <add name="PgSessionStateStoreProvider" type="NauckIT.PostgreSQLProvider.PgSessionStateStoreProvider" enableExpiredSessionAutoDeletion="true" expiredSessionAutoDeletionInterval="60000" enableSessionExpireCallback="false" connectionStringName="AspSQLProvider" applicationName="MvcStore" />
      </providers>
    </sessionState>
  </system.web>
</configuration>